.wrapper{
	margin: 0px auto 0px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	width: 650px;
}

.list{
	float: left;
	border: 1px solid #000;
	width: 300px;
	margin: 10px;
}

.option{
	float: left;
	border: 1px solid #0000ff;
	width: 300px;
	}

.selectedRed{
	background: #f00;
	color: #fff;
	font-weight: bold;
	}

.selected{
	background: #008;
	color: #fff;
	font-weight: bold;
	}
	

